.form1{
        width: 350px;
        border: 15px solid;
        color: #343a40!important;
        padding: 50px;
        margin: 20px;
    
}

button {
background-color: #343a40!important;

}

.form-group {
    color: #343a40!important;
    font-weight: 700;
}
.btn-primary {
    margin-left: 40px;
}

.name {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 200;

}   
.mr-3 {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1 {
      padding-top: 10%;    
  }

  p {
      text-align: center;
     
  }
.portfolio { 
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.portfolio2 {
    padding-bottom: 150px;
}
.aboutme1 { 
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.projectA {
    text-align: center;
}
.projectB {
    text-align: center;
}
.projectC {
    text-align: center;
}

.paragraph {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    background-color: aquamarine;
   
}

 
.myFooter {
    background-color: #343a40!important;
    color: whitesmoke;
    text-align: center;
}

.card-body {
    text-align: left;
}