.form1{
        width: 350px;
        border: 15px solid rgb(0, 113, 128);
        padding: 50px;
        margin: 20px;
    
}
.btn-primary {
    margin-left: 40px;
}

.name {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 200;

}   
.mr-3 {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1 {
      padding-top: 10%;
     
      
  }

  p {
      text-align: center;
     
  }
.portfolio { text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutme {text-align: center;

}
.img1 {
text-align: center;
}
.projectA {
    text-align: center;
}
.projectB {
    text-align: center;
}
.projectC {
    text-align: center;
}
.footer1 {
    padding-top: 100px;
}
.paragraph {
    padding-top: 15px;
}